<router-outlet></router-outlet>
<TabBar
  [hidden]="hidden"
  [barTintColor]="'#5e5e5e'"
  [tintColor]="tintColor"
  [ngStyle]="tabbarStyle"
  [activeTab]="selectedIndex"
  [unselectedTintColor]="unselectedTintColor"
  [tabBarPosition]="topFlag ? 'top' : 'bottom'"
  (onPress)="tabBarTabOnPress($event)"
>
  <TabBarItem [title]="'Couch Surf'" [key]="'web/couch-surf'" [badge]="0" [icon]="icon1" [selectedIcon]="icon11">
    <ng-template #icon1>
      <i nz-icon nzType="search" style="font-size: 24px;" nzTheme="outline"></i>
    </ng-template>
    <ng-template #icon11>
      <i nz-icon nzType="search" style="font-size: 24px;" nzTheme="outline"></i>
    </ng-template>
  </TabBarItem>
  <TabBarItem [title]="'My Profile'" [key]="'web/user-profile'" [icon]="icon4" [selectedIcon]="icon44">
    <ng-template #icon4>
      <i nz-icon nzType="user" style="font-size: 24px;" nzTheme="outline"></i>
    </ng-template>
    <ng-template #icon44>
      <i nz-icon nzType="user" style="font-size: 24px;" nzTheme="outline"></i>
    </ng-template>
  </TabBarItem>
</TabBar>
