<nz-spin *ngIf="loading" nzSimple [nzSize]="'large'"></nz-spin>
<div *ngIf="!loading">
  <div *ngIf="hideChatBox" nz-row nzType="flex" nzJustify="center" nzAlign="top" style="padding:30px">
    <nz-list [nzDataSource]="messagesList" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading">
      <ng-template #item let-item>
        <nz-list-item style="border-bottom: 1px solid #0f48c4;">
          <nz-list-item-meta [nzTitle]="nzTitle" nzAvatar="{{ item.avatar }}" [nzDescription]="nzDescription">
            <ng-template #nzTitle>
              <nz-badge [nzDot]="true" [nzOffset]="[5, 0]" [nzShowDot]="item.new_messages">
                <a (click)="openChatroom(item$event, item)">{{ item.title }}</a>
              </nz-badge>
            </ng-template>
            <ng-template #nzDescription>
              <strong>Total messages: {{ item.total }}</strong>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>
</div>
<div *ngIf="!hideChatBox">
  <div nz-row nzType="flex" nzJustify="center" nzAlign="top" style="padding:30px">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a (click)="hideChatBox = true">back</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item> {{ currentChat.first_name }} {{ currentChat.last_name }} </nz-breadcrumb-item>
    </nz-breadcrumb>
    <cdk-virtual-scroll-viewport itemSize="73" class="demo-infinite-container">
      <nz-list [nzDataSource]="chatHistory" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading">
        <ng-template #item let-item>
          <nz-list-item>
            <nz-list-item-meta
              [ngClass]="{ myselfChat: item.myself == true }"
              [nzTitle]="chatBoxTitle"
              [nzDescription]="chatBoxDescription"
            >
              <ng-template #chatBoxTitle> {{ item.first_name }} {{ item.last_name }} </ng-template>
              <ng-template #chatBoxDescription>
                {{ item.body }}
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </cdk-virtual-scroll-viewport>

    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
      <input #messageInput type="text" nz-input placeholder="send message" />
    </nz-input-group>
    <ng-template #suffixButton>
      <button
        (click)="sendMessage(messageInput.value); messageInput.value = ''"
        nz-button
        nzType="primary"
        nzSize="large"
        nzSearch
      >
        Send
      </button>
    </ng-template>
  </div>
</div>
