<div style="padding:30px;">
  <nz-card style="width: 100%;" [nzActions]="[actionSetting, actionEdit]">
    <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzAvatar]="{ size: 'large' }">
      <div nz-row nzType="flex" nzJustify="center" nzAlign="top">
        <img class="userProfilePicture" alt="example" [src]="currentUser.avatar" />
      </div>

      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="The input is not valid First Name!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="first_name" placeholder="First name" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="The input is not valid Last Name!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="last_name" placeholder="Last name" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input
                type="password"
                nz-input
                formControlName="password"
                (ngModelChange)="updateConfirmValidator()"
                placeholder="Password"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzErrorTip]="errorTpl">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="checkPassword" placeholder="Confirm Password" />
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please confirm your password!
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  Two passwords that you enter is inconsistent!
                </ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your city!">
            <nz-input-group nzPrefixIcon="home">
              <input type="text" nz-input formControlName="city" placeholder="City" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your country!">
            <nz-input-group nzPrefixIcon="home">
              <input type="text" nz-input formControlName="country" placeholder="Country" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Postal Code!">
            <nz-input-group nzPrefixIcon="home">
              <input type="text" nz-input formControlName="postal_code" placeholder="Postal Code" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-skeleton>
  </nz-card>

  <ng-template #actionSetting>
    <a (click)="logout()"> <i nz-icon nzType="logout" nzTheme="outline"></i> </a>
  </ng-template>
  <ng-template #actionEdit>
    <a (click)="submitForm()"><i nz-icon nzType="edit"></i></a>
  </ng-template>
  <ng-template #actionEllipsis>
    <i nz-icon nzType="ellipsis"></i>
  </ng-template>
</div>
