<div style="padding:30px;">
  <nz-card style="width: 100%;" [nzActions]="[actionSetting, actionEdit]">
    <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzAvatar]="{ size: 'large' }">
      <div nz-row nzType="flex" nzJustify="center" nzAlign="top">
        <img class="userProfilePicture" alt="example" [src]="userProfilePicture" />
      </div>

      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="first_name" nzRequired>
            <span>
              First Name
            </span>
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your First Name!">
            <input nz-input id="first_name" formControlName="first_name" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="last_name" nzRequired>
            <span>
              Last Name
            </span>
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your Last Name!">
            <input nz-input id="last_name" formControlName="last_name" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <input nz-input formControlName="email" id="email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
            <input
              nz-input
              type="password"
              id="password"
              formControlName="password"
              (ngModelChange)="updateConfirmValidator()"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
            <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
            <ng-template #errorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please confirm your password!
              </ng-container>
              <ng-container *ngIf="control.hasError('confirm')">
                Two passwords that you enter is inconsistent!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-skeleton>
  </nz-card>

  <ng-template #actionSetting>
    <i nz-icon nzType="setting"></i>
  </ng-template>
  <ng-template #actionEdit>
    <i nz-icon nzType="edit"></i>
  </ng-template>
  <ng-template #actionEllipsis>
    <i nz-icon nzType="ellipsis"></i>
  </ng-template>
</div>
<!--
<form nz-form class="register-form" [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="The input is not valid E-mail!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="userName" placeholder="Email" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="password"
          (ngModelChange)="updateConfirmValidator()"
          placeholder="Password"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="errorTpl">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="checkPassword" placeholder="Confirm Password" />
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please confirm your password!
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            Two passwords that you enter is inconsistent!
          </ng-container>
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your city!">
      <nz-input-group nzPrefixIcon="home">
        <input type="text" nz-input formControlName="city" placeholder="City" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your country!">
      <nz-input-group nzPrefixIcon="home">
        <input type="text" nz-input formControlName="country" placeholder="Country" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Postal Code!">
      <nz-input-group nzPrefixIcon="home">
        <input type="text" nz-input formControlName="postal_code" placeholder="Postal Code" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <label for="file">Choose Avatar</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control>
      <button nz-button class="login-form-button" [nzType]="'primary'">Register</button>
      <a routerLink="/auth/login">Login</a>
    </nz-form-control>
  </nz-form-item>
</form> -->
